Repository julelang/jule, pull requests merged in 2024-02, with the labels that each got.

#72 style: avoid sign conversion in `utf8_to_runes`
  api/utf16.hpp
  api/utf8.hpp
Labels: api

#73 fix: use fixed width integer types to define jule types
  api/types.hpp
Labels: api

#77 style: use member initializer in the move constructor of `Any`
  api/any.hpp
Labels: api

#78 fix: do not use `const` in move constructors
  api/any.hpp
  api/ptr.hpp
  api/slice.hpp
  api/trait.hpp
Labels: api

#79 style: use member initializer in the move constructor of `Ptr`
  api/ptr.hpp
Labels: api

#80 style: default `~Trait()`
  api/trait.hpp
Labels: api

#82 fix: cast indicies to `std::size_t` in `Array`
  api/array.hpp
Labels: api

#83 style: prefer `using` when dealing with pointers
  api/array.hpp
  api/slice.hpp
  api/str.hpp
Labels: api

#86 fix: check if `*this` is `src` in `Array::operator==`
  api/array.hpp
Labels: api

#87 fix: avoid infinite recursion
  api/array.hpp
Labels: bug, api

#89 refactor: use `std::string::data()` in `jule::Str::begin()`
  api/str.hpp
Labels: api

#90 refactor: use `jule::Str::begin()` in `jule::Str::end()`
  api/str.hpp
Labels: api

#91 style: use braced-init-list for creating default objects
  api/env.hpp
  api/str.hpp
Labels: api

#92 fix: use proper return type of `Any::operator=`
  api/any.hpp
Labels: api

#93 fix: use proper return type of `Trait::operator=`
  api/trait.hpp
Labels: api

#95 fix: use proper return type of `Slice::operator=`
  api/slice.hpp
Labels: api

#96 fix: use proper return type of `Ptr::operator=`
  api/ptr.hpp
Labels: api

#97 Add CI to test standard library
  .github/workflows/std_tests_clang_macos.yml
  .github/workflows/std_tests_clang_ubuntu.yml
  .github/workflows/std_tests_gcc_macos.yml
  .github/workflows/std_tests_gcc_ubuntu.yml
Labels: compiler/runtime, compiler

#98 style: use pointer to `const`
  api/ptr.hpp
Labels: api
